/*style-sheet definitions for massim-project*/

/*
TUC corporate design
--------------------
colors:	green		rgb: 0,140,79		hex: #008c4f
		gray 50%	rgb: 128,128,128	hex: #808080
		gray 10%	rgb: 230,230,230	hex: #e6e6e6
		red			rgb: 140,28,0		hex: #8c1c00

fonts: arial or helvetica
*/
.blue { color:blue; }
.red { color:red; }

body
{
background-color:#ffffff; 
color:#008c4f;
margin:0; 
padding:0;
font-size: 100.01%;
font-family:Arial,Helvetica,sans-serif;
}

#image
{
-moz-transform-origin: 0 45px;
height:100%;
position:absolute;
top:45px;
transform:scale(1.25);
width:1024px;
z-index:1;
}

#background
{
-moz-transform-origin: 0 45px;
height:100%;
position:absolute;
top:45px;
transform:scale(1.25);
width:1024px;
z-index:0;
}

/*definition for link-menu*/
iframe#logo
{
background-color:#ffffff;
color:#808080;
margin:0;
padding:0;
}

/*definitions for the navigation*/
#nav
{
float:left;
width:25%;
}

ul#navigation 
{
font-size: 1.2em;
font-weight:bold;
width:11em;
margin: 1em 0 1.2em 1em;
padding: 0.25em;
background-color:#e6e6e6;
border:2px solid #008c4f;
text-align:center;
}
  ul#navigation li {
    list-style: none;
    margin: 0; 
    padding: 0.25em;
  }
  ul#navigation a {
    display: block;
    padding: 0.2em;
   font-weight: bold;
   text-decoration:none;
  }
  ul#navigation a:link {
    color:#008c4f;
background-color:#f0f0f0;
 
  }
  ul#navigation a:visited {
    color:#008c4f;
background-color:#f0f0f0;
 
  }
  ul#navigation a:hover {
    color:#8c1c00; 
    background-color: white;
  }
  ul#navigation a:active:link, ul#navigation a:active:visited, ul#navigation a:active:hover {
    color:#8c1c00;
    background-color:#f0f0f0;
  }


.under
{
text-decoration:underline;
}

.center
{
text-align:center;
}

table.left {
float:left;
width:50%;
}

table.right {
float:right;
width:50%;
}

/*definitions for "standard" links*/
a:link, a:visited
{
color:#008c4f;
text-decoration:none;
font-weight:bold;
}

a:hover
{
color:#8c1c00;
text-decoration:none;
font-weight:bold;
}

a:active:link, a:active:visited, a:active:hover
{
color:#8c1c00;
text-decoration:none;
font-weight:bold;
}

/*content*/

div#content, div#content-error {
    margin: 1em 1em 1em 1em;
    padding: 0.5em 1em;
    border: 1px solid #008c4f;
    min-width: 65%;
    max-width: 65%;
    display:inline-block;
    min-height:900px;
  }
 
/*definitions for the footer*/
p#footer {
    clear: both;
    font-size: 0.9em;
    margin: 0;
	position:relative; bottom:0; 
	min-width:350px;
    padding: 0.1em;
    text-align: center;
    background-color: #e6e6e6; 
    border: 1px solid #008c4f;
}

/*border around statistics*/
#statsborder
{
/*float:left;*/
margin-top:1.5em;
margin-bottom:1.5em;
margin-left:auto;
margin-right:auto;
padding:7px;
text-align:left;
width:100%;
height:100%;
background-color:#e6e6e6;
border:2px solid #008c4f;
}
