<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <description>
      Massim - Webservice
    </description>
    <display-name>MASSIM - Webservice</display-name>


	<context-param>
        <param-name>RMIPortNumber</param-name>
        <param-value>1099</param-value>
    </context-param>

    <context-param>
        <param-name>ServerName</param-name>
        <param-value>localhost</param-value>
    </context-param>

    <context-param>
        <param-name>SimulationRMI</param-name>
        <param-value>xmlsimulation</param-value>
    </context-param>

    <context-param>
        <param-name>ServerRMI</param-name>
        <param-value>server2</param-value>
    </context-param>

    <context-param>
        <param-name>TournamentRMI</param-name>
        <param-value>statistics</param-value>
    </context-param>
	
    <context-param>
        <param-name>statisticsError</param-name>
        <param-value>statistics-error</param-value>
    </context-param>

    <context-param>
        <param-name>simulationError</param-name>
        <param-value>simulation-error</param-value>
    </context-param>

    <context-param>
        <param-name>serverError</param-name>
        <param-value>server-error</param-value>
    </context-param>
    
    <!-- Define servlets that are included in the massim-webapplication -->

    <servlet>
      <servlet-name>
          WebClientXMLServlet
      </servlet-name>
      <servlet-class>
          massim.webclient.WebClientXMLServlet
      </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WebClientXMLServlet</servlet-name>
        <url-pattern>/WebClientXMLServlet</url-pattern>
    </servlet-mapping>

   <servlet>
      <servlet-name>
          WebClientTournamentServlet
      </servlet-name>
      <servlet-class>
          massim.webclient.WebClientTournamentServlet
      </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WebClientTournamentServlet</servlet-name>
        <url-pattern>/WebClientTournamentServlet</url-pattern>
    </servlet-mapping>
    
    
</web-app>
