/DefendZoningStrategy.class
/DodgeSaboteurStrategy.class
/ExplorerExploreStrategy.class
/InspectorInspectStrategy.class
/LearnPerceptsStrategy.class
/NeedRepairStrategy.class
/RandomWalkStrategy.class
/ReadMessagesStrategy.class
/RechargeStrategy.class
/RepairerRepairStrategy.class
/RethinkGoalsStrategy.class
/SaboteurAttackStrategy.class
/SentinelWardStrategy.class
/SkipStrategy.class
/StrategyIf.class
/SurveyStrategy.class
/ZoningStrategy.class
